.hero-section{
    display: flex;
    min-height: 90vh;
    width: 100%;
}

.hero-image{
    width: 50%;
    
    background-image: url(../picsForday1/rejaul-karim-HLVieCQkt0M-unsplash.jpg);
    
    background-position: center top;
    background-repeat: no-repeat;
    background-color: aqua;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.left-side{
    
}